
.navbar {
    display: flex;
    align-items: center;
    background: none;
    color: black;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    padding: 1% 0px 0px 5%;
    margin-right: 20%;
    font-size: 700%;
    font-family: fangsong;
}

.navbar__item {
    cursor: pointer;
    vertical-align: middle;
}
.link {
    padding: 4% 4% 0% 0%;
    font-size: 275%;
    font-style: bold;
}
@media (max-width: 600px) {
    .link {
        display: none;
    }
    .navbar__item {
    padding: 0%;
    text-align: center;
    }
    .navbar__title {
        margin-right: 0;
    }
}
.navbar__title img {
    width: 100%;
}
a:link {
  color: black; /* Default link color */
  text-decoration: none;
}

a:visited {
  color: black; /* Keeps color the same after clicking */
  text-decoration: none;
}
